In [ ]:
!pip install git+https://github.com/AI4Finance-LLC/FinRL-Library.git

Collecting git+https://github.com/AI4Finance-LLC/FinRL-Library.git
  Cloning https://github.com/AI4Finance-LLC/FinRL-Library.git to /tmp/pip-req-build-719rpt_l
  Running command git clone -q https://github.com/AI4Finance-LLC/FinRL-Library.git /tmp/pip-req-build-719rpt_l
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from finrl==0.3.0) (1.19.5)
Requirement already satisfied: pandas>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from finrl==0.3.0) (1.1.5)
Collecting stockstats
  Downloading https://files.pythonhosted.org/packages/32/41/d3828c5bc0a262cb3112a4024108a3b019c183fa3b3078bff34bf25abf91/stockstats-0.3.2-py2.py3-none-any.whl
Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/79/bd/d64719da8f5367f4d8b16e83507fa1d90942f433f748a4cf3ed7aa515d14/yfinance-0.1.63.tar.gz
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from finrl==0.3.0) (3.2.2)
Requirement already satisfied: scikit-learn>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from finrl==0.3.0) (0.22.2.post1)
Requirement already satisfied: gym>=0.17 in /usr/local/lib/python3.7/dist-packages (from finrl==0.3.0) (0.17.3)
Collecting stable-baselines3[extra]
  Downloading https://files.pythonhosted.org/packages/c2/ce/5002282b316703191b9e7f7f1be03670f6a0d5e88181366e73d98d630f59/stable_baselines3-1.1.0-py3-none-any.whl (172kB)
     |████████████████████████████████| 174kB 6.4MB/s
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from finrl==0.3.0) (3.6.4)
Requirement already satisfied: setuptools>=41.4.0 in /usr/local/lib/python3.7/dist-packages (from finrl==0.3.0) (57.0.0)
Requirement already satisfied: wheel>=0.33.6 in /usr/local/lib/python3.7/dist-packages (from finrl==0.3.0) (0.36.2)
Collecting pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2
  Cloning https://github.com/quantopian/pyfolio.git to /tmp/pip-install-5lsl8ovz/pyfolio
  Running command git clone -q https://github.com/quantopian/pyfolio.git /tmp/pip-install-5lsl8ovz/pyfolio
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->finrl==0.3.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.5->finrl==0.3.0) (2018.9)
Collecting int-date>=0.1.7
  Downloading https://files.pythonhosted.org/packages/43/27/31803df15173ab341fe7548c14154b54227dfd8f630daa09a1c6e7db52f7/int_date-0.1.8-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance->finrl==0.3.0) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance->finrl==0.3.0) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/30/c0/d0526314971fc661b083ab135747dc68446a3022686da8c16d25fcf6ef07/lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 41.2MB/s
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->finrl==0.3.0) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->finrl==0.3.0) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->finrl==0.3.0) (2.4.7)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.0->finrl==0.3.0) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.0->finrl==0.3.0) (1.4.1)
Requirement already satisfied: cloudpickle<1.7.0,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from gym>=0.17->finrl==0.3.0) (1.3.0)
Requirement already satisfied: pyglet<=1.5.0,>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from gym>=0.17->finrl==0.3.0) (1.5.0)
Requirement already satisfied: torch>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]->finrl==0.3.0) (1.9.0+cu102)
Requirement already satisfied: opencv-python; extra == "extra" in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]->finrl==0.3.0) (4.1.2.30)
Requirement already satisfied: tensorboard>=2.2.0; extra == "extra" in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]->finrl==0.3.0) (2.5.0)
Requirement already satisfied: atari-py~=0.2.0; extra == "extra" in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]->finrl==0.3.0) (0.2.9)
Requirement already satisfied: psutil; extra == "extra" in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]->finrl==0.3.0) (5.4.8)
Requirement already satisfied: pillow; extra == "extra" in /usr/local/lib/python3.7/dist-packages (from stable-baselines3[extra]->finrl==0.3.0) (7.1.2)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->finrl==0.3.0) (1.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->finrl==0.3.0) (1.10.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->finrl==0.3.0) (8.8.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->finrl==0.3.0) (21.2.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from pytest->finrl==0.3.0) (1.15.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->finrl==0.3.0) (0.7.1)
Requirement already satisfied: ipython>=3.2.3 in /usr/local/lib/python3.7/dist-packages (from pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (5.5.0)
Requirement already satisfied: seaborn>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (0.11.1)
Collecting empyrical>=0.5.0
  Downloading https://files.pythonhosted.org/packages/74/43/1b997c21411c6ab7c96dc034e160198272c7a785aeea7654c9bcf98bec83/empyrical-0.5.5.tar.gz (52kB)
     |████████████████████████████████| 61kB 7.4MB/s
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance->finrl==0.3.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance->finrl==0.3.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance->finrl==0.3.0) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance->finrl==0.3.0) (1.24.3)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyglet<=1.5.0,>=1.4.0->gym>=0.17->finrl==0.3.0) (0.16.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.4.0->stable-baselines3[extra]->finrl==0.3.0) (3.7.4.3)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (1.32.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (3.17.3)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (1.34.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (3.3.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (0.4.4)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (0.6.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (0.12.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (1.8.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (5.0.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (0.7.5)
Requirement already satisfied: pandas-datareader>=0.2 in /usr/local/lib/python3.7/dist-packages (from empyrical>=0.5.0->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (0.9.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (4.7.2)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (4.6.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (1.3.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (0.7.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=3.2.3->pyfolio@ git+https://github.com/quantopian/pyfolio.git#egg=pyfolio-0.9.2->finrl==0.3.0) (0.2.5)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (0.4.8)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (3.4.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.2.0; extra == "extra"->stable-baselines3[extra]->finrl==0.3.0) (3.1.1)
Building wheels for collected packages: finrl, yfinance, pyfolio, empyrical
  Building wheel for finrl (setup.py) ... done
  Created wheel for finrl: filename=finrl-0.3.0-cp37-none-any.whl size=39054 sha256=2a4d7d534ab9aceba1d5dc07f9c225448a9be8111022cc6948edb29914301bed
  Stored in directory: /tmp/pip-ephem-wheel-cache-uyuusu0m/wheels/9c/19/bf/c644def96612df1ad42c94d5304966797eaa3221dffc5efe0b
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23919 sha256=2700013442d40611440a3231bb9d9b14b0b52b2cf899c13f3f6db40edf206cee
  Stored in directory: /root/.cache/pip/wheels/fe/a0/79/b73d4a0c535b421b88fc7b393936b371fabbfeaf979eca4050
  Building wheel for pyfolio (setup.py) ... done
  Created wheel for pyfolio: filename=pyfolio-0.9.2+75.g4b901f6-cp37-none-any.whl size=75776 sha256=570de1f36e9bf0266bcea4fe0b699a446704af38252631a16c2eaa72035eb946
  Stored in directory: /tmp/pip-ephem-wheel-cache-uyuusu0m/wheels/43/ce/d9/6752fb6e03205408773235435205a0519d2c608a94f1976e56
  Building wheel for empyrical (setup.py) ... done
  Created wheel for empyrical: filename=empyrical-0.5.5-cp37-none-any.whl size=39780 sha256=b3acb34db0f07ba55063d24075e581dd4148f196d3e04faa3cbe02afd6f48d46
  Stored in directory: /root/.cache/pip/wheels/ea/b2/c8/6769d8444d2f2e608fae2641833110668d0ffd1abeb2e9f3fc
Successfully built finrl yfinance pyfolio empyrical
Installing collected packages: int-date, stockstats, lxml, yfinance, stable-baselines3, empyrical, pyfolio, finrl
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed empyrical-0.5.5 finrl-0.3.0 int-date-0.1.8 lxml-4.6.3 pyfolio-0.9.2+75.g4b901f6 stable-baselines3-1.1.0 stockstats-0.3.2 yfinance-0.1.63

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib 
import matplotlib.pyplot as plt 
import datetime 
%matplotlib inline
from finrl.config import config
from finrl.marketdata.yahoodownloader import YahooDownloader
from finrl.preprocessing.preprocessors import FeatureEngineer
from finrl.preprocessing.data import data_split
from finrl.env.env_stocktrading import StockTradingEnv
from finrl.model.models import DRLAgent
from finrl.trade.backtest import backtest_stats, backtest_plot, get_baseline, get_daily_return
from pprint import pprint

In [ ]:
import sys 
sys.path.append("../FinRL-Library")
import itertools

In [ ]:
import os 
if not os.path.exists("./" + config.DATA_SAVE_DIR):
    os.makedirs("./" + config.DATA_SAVE_DIR)
if not os.path.exists("./" + config.TRAINED_MODEL_DIR):
    os.makedirs("./" + config.TRAINED_MODEL_DIR)
if not os.path.exists("./" + config.TENSORBOARD_LOG_DIR):
    os.makedirs("./" + config.TENSORBOARD_LOG_DIR)
if not os.path.exists("./" + config.RESULTS_DIR):
   os.makedirs("./" + config.RESULTS_DIR)

In [ ]:
df = YahooDownloader(start_date='2009-01-01', end_date='2021-01-01', ticker_list=config.DOW_30_TICKER).fetch_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Shape of DataFrame:  (90630, 8)

In [ ]:
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')

In [ ]:
df.sort_values(['date','tic'],ignore_index=True).head()

        date       open       high        low      close     volume   tic  day
0 2009-01-02   3.067143   3.251429   3.041429   2.787006  746015200  AAPL    4
1 2009-01-02  18.570000  19.520000  18.400000  15.657365   10955700   AXP    4
2 2009-01-02  42.799999  45.560001  42.779999  33.941101    7010200    BA    4
3 2009-01-02  44.910000  46.980000  44.709999  32.830360    7117200   CAT    4
4 2009-01-02  16.410000  17.000000  16.250000  12.505757   40980600  CSCO    4

In [ ]:
type(df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
datasets = 'https://raw.githubusercontent.com/mariko-sawada/FinRL_with_fundamental_data/main/dow_30_fundamental_wrds.csv'
fund = pd.read_csv(datasets)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
fund.head()

In [ ]:
items = [
    'datadate', 
    'tic',
    'oiadpq', 
    'revtq',
    'niq', 
    'atq',  
    'teqq', 
    'epspiy', 
    'ceqq', 
    'cshoq',
    'dvpspq', 
    'actq',
    'lctq', 
    'cheq', 
    'rectq',  
    'cogsq',
    'invtq', 
    'apq',
    'dlttq', 
    'dlcq',
    'ltq' 
]

In [ ]:
fund_data= fund[items]

In [ ]:
# rename
fund_data = fund_data.rename(columns={
    'datadate':'date', # ngày 
    'oiadpq':'op_inc_q', # thu nhập từ hoạt động hàng quý 
    'revtq':'rev_q', # doanh thu hàng quý 
    'niq':'net_inc_q', # thu nhập ròng <=> lợi nhuận sau thuế
    'atq':'tot_assets', # tổng tài sản 
    'teqq':'sh_equity', # vốn do cổ đông sở hữu 
    'epspiy':'eps_incl_ex', # những mục ngoài 
    'ceqq':'com_eq', # vốn sở hữu chung giữa các cổ đông
    'cshoq':'sh_outstanding', # số cổ phiếu đang lưu hành 
    'dvpspq':'div_per_sh', # cổ tức trên một cổ phiếu 
    'actq':'cur_assets', # tổng tài sản hiện tại 
    'lctq':'cur_liabilities', # nợ ngắn hạn 
    'cheq':'cash_eq', # tiền mặt hiện có ($)
    'rectq':'receivables', # các khoản thu 
    'cogsq':'cogs_q', # giá vốn bán hàng
    'invtq':'inventories', # số lượng tồn 
    'apq': 'payables',# các khoản phải trả 
    'dlttq':'long_debt', # nợ dài hạn
    'dlcq':'short_debt', # nợ phải trả hiện tại
    'ltq':'tot_liabilities' # tổng nợ 
})

In [ ]:
fund_data.head()

       date  tic  op_inc_q  ...  long_debt  short_debt  tot_liabilities
0  19990630  AXP     896.0  ...     7005.0     24785.0         122690.0
1  19990930  AXP     906.0  ...     6720.0     24683.0         122872.0
2  19991231  AXP     845.0  ...     4685.0     32437.0         138422.0
3  20000331  AXP     920.0  ...     5670.0     29342.0         140409.0
4  20000630  AXP    1046.0  ...     5336.0     26170.0         138044.0

[5 rows x 21 columns]

Thực hiện việc tính các tỉ lệ tài chính bảo gồm: 

* Tỷ lệ OPM = Tổng thu nhập hoạt động hàng quý / Tổng doanh thu hằng quý 
* Tỷ lệ NPM = Tổng thu nhập ròng hằng quý / Tổng doanh thu hằng quý 
* Tỷ lệ ROA = Tổng thu nhập ròng hằng quý / Tổng tài sản 
* Tỷ lệ ROE = Tổng thu nhập ròng hằng quý / Vốn sở hữu của cổ đông
* EPS = Những mục bất thường 
* Tỷ lệ BPS = Vốn chủ sở hữu chung / Số cổ phiếu đang lưu hành 
* Tỷ lệ DPS = Số cổ tức trên một cổ phiếu 
* Tỉ lệ hiện tại (cur_ratio) = Tổng tài sản hiện tại / Tổng nợ phải trả hiện tại  
* Tỷ lệ thanh toán nhanh (quick_ratio) = (Tổng tiền mặt + Các khoản thu) / Tổng nợ phải trả 
* Tỷ lệ tiền mặt (cash_ratio) = Tổng tiền mặt / Tổng nợ phải trả 
* inv_turnover = Tổng bán ra / Tổng hàng tồn 
* acc_rec_turnover = Tổng doanh thu hằng quý / Các khoản thu 
* acc_pay_turnover = Tổng bán ra / Các khoản phải trả 
* Tỷ lệ nợ (debt_ratio) = Tổng nợ / Tổng tài sản 
* Tỷ lệ nợ vốn chủ sở hữu = Tổng nợ / Tổng vốn sở hữu của cổ đông

In [ ]:
date = pd.to_datetime(fund_data['date'],format='%Y%m%d')

tic = fund_data['tic'].to_frame('tic')

# Tỷ lệ OPM = Tổng thu nhập hoạt động hàng quý / Tổng doanh thu hằng quý 
OPM = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='OPM')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        OPM[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        OPM.iloc[i] = np.nan
    else:
        OPM.iloc[i] = np.sum(fund_data['op_inc_q'].iloc[i-3:i])/np.sum(fund_data['rev_q'].iloc[i-3:i])


# Tỷ lệ NPM = Tổng thu nhập ròng hằng quý / Tổng doanh thu hằng quý  
NPM = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='NPM')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        NPM[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        NPM.iloc[i] = np.nan
    else:
        NPM.iloc[i] = np.sum(fund_data['net_inc_q'].iloc[i-3:i])/np.sum(fund_data['rev_q'].iloc[i-3:i])

# Tỷ lệ ROA = Tổng thu nhập ròng hằng quý / Tổng tài sản 
ROA = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='ROA')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        ROA[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        ROA.iloc[i] = np.nan
    else:
        ROA.iloc[i] = np.sum(fund_data['net_inc_q'].iloc[i-3:i])/fund_data['tot_assets'].iloc[i]

# Tỷ lệ ROE = Tổng thu nhập ròng hằng quý / Vốn sở hữu của cổ đông
ROE = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='ROE')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        ROE[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        ROE.iloc[i] = np.nan
    else:
        ROE.iloc[i] = np.sum(fund_data['net_inc_q'].iloc[i-3:i])/fund_data['sh_equity'].iloc[i]        
        
EPS = fund_data['eps_incl_ex'].to_frame('EPS')     # Những mục bất thường 
BPS = (fund_data['com_eq']/fund_data['sh_outstanding']).to_frame('BPS')  # Tỷ lệ BPS = Vốn chủ sở hữu chung / Số cổ phiếu đang lưu hành 
DPS = fund_data['div_per_sh'].to_frame('DPS')   # Tỷ lệ DPS = Số cổ tức trên một cổ phiếu 
cur_ratio = (fund_data['cur_assets']/fund_data['cur_liabilities']).to_frame('cur_ratio')  # Tỉ lệ hiện tại (cur_ratio) = Tổng tài sản hiện tại / Tổng nợ phải trả hiện tại  
quick_ratio = ((fund_data['cash_eq'] + fund_data['receivables'] )/fund_data['cur_liabilities']).to_frame('quick_ratio')
# Tỷ lệ thanh toán nhanh (quick_ratio) = (Tổng tiền mặt + Các khoản thu) / Tổng nợ phải trả 
cash_ratio = (fund_data['cash_eq']/fund_data['cur_liabilities']).to_frame('cash_ratio')
# Tỷ lệ tiền mặt (cash_ratio) = Tổng tiền mặt / Tổng nợ phải trả 

inv_turnover = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='inv_turnover')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        inv_turnover[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        inv_turnover.iloc[i] = np.nan
    else:
        inv_turnover.iloc[i] = np.sum(fund_data['cogs_q'].iloc[i-3:i])/fund_data['inventories'].iloc[i]
# inv_turnover = Tổng bán ra / Tổng hàng tồn 
        
acc_rec_turnover = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='acc_rec_turnover')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        acc_rec_turnover[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        acc_rec_turnover.iloc[i] = np.nan
    else:
        acc_rec_turnover.iloc[i] = np.sum(fund_data['rev_q'].iloc[i-3:i])/fund_data['receivables'].iloc[i]
# acc_rec_turnover = Tổng doanh thu hằng quý / Các khoản thu 

acc_pay_turnover = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='acc_pay_turnover')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        acc_pay_turnover[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        acc_pay_turnover.iloc[i] = np.nan
    else:
        acc_pay_turnover.iloc[i] = np.sum(fund_data['cogs_q'].iloc[i-3:i])/fund_data['payables'].iloc[i]
# acc_pay_turnover = Tổng bán ra / Các khoản phải trả 
        

debt_ratio = (fund_data['tot_liabilities']/fund_data['tot_assets']).to_frame('debt_ratio')   # Tỷ lệ nợ (debt_ratio) = Tổng nợ / Tổng tài sản 
debt_to_equity = (fund_data['tot_liabilities']/fund_data['sh_equity']).to_frame('debt_to_equity') # Tỷ lệ nợ vốn chủ sở hữu = Tổng nợ / Tổng vốn sở hữu của cổ đông

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: divide by zero encountered in double_scalars
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in double_scalars
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:62: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:62: RuntimeWarning: invalid value encountered in double_scalars

In [ ]:
# tạo dataframe để chứa tất cả tỉ lệ 
ratios = pd.concat([date, tic, OPM, NPM, ROA, ROE, EPS, BPS, DPS, cur_ratio, quick_ratio, cash_ratio, 
                   inv_turnover, acc_rec_turnover, acc_pay_turnover, debt_ratio, debt_to_equity], axis =1)

In [ ]:
ratios

           date  tic       OPM  ... acc_pay_turnover debt_ratio debt_to_equity
0    1999-06-30  AXP       NaN  ...              NaN   0.926298      12.568121
1    1999-09-30  AXP       NaN  ...              NaN   0.926525      12.610016
2    1999-12-31  AXP       NaN  ...              NaN   0.932028      13.711937
3    2000-03-31  AXP  0.154281  ...         0.550059   0.931947      13.694431
4    2000-06-30  AXP  0.151641  ...         0.505925   0.929258      13.135788
...         ...  ...       ...  ...              ...        ...            ...
2451 2020-03-31    V  0.667517  ...          2.69754   0.525062       1.105537
2452 2020-06-30    V  0.668385  ...          1.88951   0.543886       1.192433
2453 2020-09-30    V  0.654464  ...          2.73037   0.552515       1.234714
2454 2020-12-31    V  0.638994  ...          2.34787   0.531507       1.134505
2455 2021-03-31    V  0.640128  ...          2.36736   0.529946       1.127414

[2456 rows x 17 columns]

In [ ]:
# đổi giá trị NaN và inf thành 0
final_ratios = ratios.copy()
final_ratios = final_ratios.fillna(0)
final_ratios = final_ratios.replace(np.inf,0)

In [ ]:
final_ratios.head()

        date  tic       OPM  ...  acc_pay_turnover  debt_ratio  debt_to_equity
0 1999-06-30  AXP  0.000000  ...          0.000000    0.926298       12.568121
1 1999-09-30  AXP  0.000000  ...          0.000000    0.926525       12.610016
2 1999-12-31  AXP  0.000000  ...          0.000000    0.932028       13.711937
3 2000-03-31  AXP  0.154281  ...          0.550059    0.931947       13.694431
4 2000-06-30  AXP  0.151641  ...          0.505925    0.929258       13.135788

[5 rows x 17 columns]

In [ ]:
# thêm các tỷ lệ tài chính vào dữ liệu giá 
list_ticker = df["tic"].unique().tolist()
list_date = list(pd.date_range(df['date'].min(),df['date'].max()))
combination = list(itertools.product(list_date,list_ticker))

# Merge
processed_full = pd.DataFrame(combination,columns=["date","tic"]).merge(df,on=["date","tic"],how="left")
processed_full = processed_full.merge(final_ratios,how='left',on=['date','tic'])
processed_full = processed_full.sort_values(['tic','date'])


processed_full = processed_full.bfill(axis='rows')

In [ ]:
# Tính tỷ số P/E : là tỷ số đánh giá mối liên hệ giữa giá cổ phiếu hiện tại và tỷ số thu nhập trên cổ phần, 
                  # tỷ số P/E cho biết một nhà đầu tư sẵn sàng trả giá bao nhiêu cho một cổ phiếu trên sàn chứng khoán đó 
# Tính tỷ số P/B : là tỷ số để so sánh giá một cổ phiếu với giá trị ghi sổ của cố phiếu đó.
                  # tỷ số P/B giúp nhà đầu tư tìm kiếm các cổ phiếu có giá thấp mà thị trường bỏ qua 
# Tính lợi nhuận từ cổ tức
processed_full['PE'] = processed_full['close']/processed_full['EPS']
processed_full['PB'] = processed_full['close']/processed_full['BPS']
processed_full['Div_yield'] = processed_full['DPS']/processed_full['close']
processed_full = processed_full.drop(columns=['day','EPS','BPS','DPS'])

In [ ]:
processed_full.sort_values(['date','tic'],ignore_index=True)

             date   tic        open  ...          PE         PB  Div_yield
0      2009-01-02  AAPL    3.067143  ...    0.640691   0.102249   0.000000
1      2009-01-02   AXP   18.570000  ...   50.507629   1.450032   0.011496
2      2009-01-02    BA   42.799999  ...   39.012760 -35.751054   0.012374
3      2009-01-02   CAT   44.910000  ... -172.791371   3.168809   0.012793
4      2009-01-02  CSCO   16.410000  ...   19.850408   1.986886   0.000000
...           ...   ...         ...  ...         ...        ...        ...
131455 2020-12-31     V  218.399994  ...  153.573372  13.708217   0.001467
131456 2020-12-31    VZ   58.060001  ...   13.225610   3.468883   0.011034
131457 2020-12-31   WBA   39.330002  ...   11.519443   2.354706   0.006064
131458 2020-12-31   WMT  144.199997  ...  155.422924   6.520801   0.002797
131459 2020-12-31   XOM   41.470001  ...   -7.609466   1.076087   0.021777

[131460 rows x 22 columns]

In [ ]:
# Thiết lập môi trường giao dịch 
# Thực hiện mô phỏng giao dịch từ 01/01/2019 - 31/12/2020
train = data_split(processed_full, '2009-01-01', '2019-01-01')
trade = data_split(processed_full, '2019-01-01', '2021-01-01')
print(len(train))
print(len(trade))

109530
21930

In [ ]:
train.head()

        date   tic       open  ...          PE         PB  Div_yield
0 2009-01-02  AAPL   3.067143  ...    0.640691   0.102249   0.000000
0 2009-01-02   AXP  18.570000  ...   50.507629   1.450032   0.011496
0 2009-01-02    BA  42.799999  ...   39.012760 -35.751054   0.012374
0 2009-01-02   CAT  44.910000  ... -172.791371   3.168809   0.012793
0 2009-01-02  CSCO  16.410000  ...   19.850408   1.986886   0.000000

[5 rows x 22 columns]

In [ ]:
trade.head()

        date   tic        open  ...         PE           PB  Div_yield
0 2019-01-01  AAPL   38.722500  ...   5.737274     1.672991   0.018991
0 2019-01-01   AXP   93.910004  ...  50.720114     3.458432   0.004248
0 2019-01-01    BA  316.190002  ...  83.019826  1418.196271   0.006531
0 2019-01-01   CAT  124.029999  ...  35.907956     4.375155   0.007280
0 2019-01-01  CSCO   42.279999  ...  28.011871     4.283841   0.008355

[5 rows x 22 columns]

In [ ]:
trade.tail()

          date  tic        open  ...          PE         PB  Div_yield
730 2020-12-31    V  218.399994  ...  153.573372  13.708217   0.001467
730 2020-12-31   VZ   58.060001  ...   13.225610   3.468883   0.011034
730 2020-12-31  WBA   39.330002  ...   11.519443   2.354706   0.006064
730 2020-12-31  WMT  144.199997  ...  155.422924   6.520801   0.002797
730 2020-12-31  XOM   41.470001  ...   -7.609466   1.076087   0.021777

[5 rows x 22 columns]

In [ ]:
ratio_list = ['OPM', 'NPM','ROA', 'ROE', 'cur_ratio', 'quick_ratio', 'cash_ratio', 'inv_turnover','acc_rec_turnover', 'acc_pay_turnover', 'debt_ratio', 'debt_to_equity',
       'PE', 'PB', 'Div_yield']

In [ ]:
stock_dimension = len(train.tic.unique())
state_space = 1 + 2 * stock_dimension + len(ratio_list)* stock_dimension
print(f"Stock Dimension: {stock_dimension}, State Space: {state_space}")

Stock Dimension: 30, State Space: 511

In [ ]:
env_kwargs = {
    "hmax": 100,                    # số cổ phiếu tối đa được mua trên một chứng khoán 
    "initial_amount": 1000000,      # lượng tiền có sẵn ban đầu 
    "buy_cost_pct": 0.001,          # chi phí mua
    "sell_cost_pct": 0.001,         # chi phí bán 
    "state_space": state_space,     # không gian trạng thái 
    "stock_dim": stock_dimension,   # số chiều chứng khoán 
    "tech_indicator_list": ratio_list,  # danh sách các tỷ lệ (chỉ dẫn kỹ thuật)
    "action_space": stock_dimension,  # không gian hành động 
    "reward_scaling": 1e-4        # điểm thưởng
    
}
e_train_gym = StockTradingEnv(df = train, **env_kwargs)

In [ ]:
# môi trường huấn luyện 
env_train, _ = e_train_gym.get_sb_env()
print(type(env_train))

<class 'stable_baselines3.common.vec_env.dummy_vec_env.DummyVecEnv'>

# Mô Hình DDPG Cho Giao Dịch Chứng Khoán Tự Động

In [ ]:
 agent = DRLAgent(env=env_train)

In [ ]:
agent = DRLAgent(env=env_train)
model_ddpg = agent.get_model("ddpg")

{'batch_size': 128, 'buffer_size': 50000, 'learning_rate': 0.001}
Using cpu device

In [ ]:
trained_ddpg = agent.train_model(model= model_ddpg, tb_log_name='ddpg',total_timesteps=50000)

# Thực Hiện Giao Dịch 
Không gian hành động: Mô tả những hành động mà tác nhân tương tác với môi trường được cho phép. Thông thường , action (a) nhận 3 giá trị {-1, 0, 1} tương đương với các hành động { bán, giữ, mua } một cổ phiếu. Bên cạnh đó, một hành động cũng có thể được thực hiện trên nhiều cổ phiếu. 

Chúng ta sử dụng một không gian trạng thái {-k,…,-1, 0, 1, …, k} trong đó k đại diện cho số cổ phiếu. Vd: Mua 100 cổ phiếu là -100, bán 44 cổ phiếu là 44. Không gian hành động liên tục cần được chuẩn hóa thành [-1, 1], bởi vì chiến lược được xác định trên một phân phối Gaussian.

In [ ]:
trade = data_split(processed_full, '2009-01-01','2021-01-01')
e_trade_gym = StockTradingEnv(df=trade, **env_kwargs)

In [ ]:
trade.head()

In [ ]:
df_account_value, df_actions = DRLAgent.DRL_prediction(model= trained_ddpg, environment=e_trade_gym)

In [ ]:
df_account_value.shape

In [ ]:
df_account_value.tail()

In [ ]:
# Thực hiện hành động trên các loại cổ phiếu 
df_actions.head()

In [ ]:
df_actions.tail()

# Backtest Chiến Lược

In [ ]:
#  Kết quả của Backtest
print("==============Get Backtest Results===========")
now = datetime.datetime.now().strftime('%Y%m%d-%Hh%M')

perf_stats_all = backtest_stats(account_value=df_account_value)
perf_stats_all = pd.DataFrame(perf_stats_all)
perf_stats_all.to_csv("./"+config.RESULTS_DIR+"/perf_stats_all_"+now+'.csv')

In [ ]:
# Số liệu thống kê cơ bản 
print("==============Get Baseline Stats===========")
baseline_df = get_baseline(
        ticker="^GSPC", 
        start = '2019-01-01',
        end = '2021-01-01')

stats = backtest_stats(baseline_df, value_col_name = 'close')

In [ ]:
# So sánh với sàn S&P 500
print("==============Compare to S&P 500 ===========")
%matplotlib inline
# S&P 500: ^GSPC
# Dow Jones Index: ^DJI
# NASDAQ 100: ^NDX
# DJIA : ^DJI
backtest_plot(df_account_value, 
             baseline_ticker = '^GSPC', 
             baseline_start = '2019-01-01',
             baseline_end = '2021-01-01')